<html>
<head><title>Change Password</title>
	<link rel="stylesheet" href="/static/css/login.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="all">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--logo开始-->
<div class="logo"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> ATM</div>
<!--logo结束-->
<br>
<br>
<div class="all container">
	<p class="login">
		修改密码
	</p>
	<br>
	{%if errors%}
		<li class="error">
		{%for error in errors%}
		<p style="color: red">
			Please correct the error:{{error}}
		</p>
		{%endfor%}
	</li>
	{%endif%}
	<br>
	<form method="POST" action=".">{% csrf_token %}
		<div class="row">
			<div class="col-xs-4  col-xs-offset-4">
				<p class="hint">请输入原密码</p>
		<input class="form-control" type="text" name="old_password" placeholder="old password">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4  col-xs-offset-4">
	<p class="hint">请输入新密码</p>
		<input class="form-control" type="text" name="new_password" placeholder="new password">

			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-2  col-xs-offset-5">
				<p>
		<input class="form-control" type="submit" name="change" value="提交">
				</p>
			</div>
		</div>
	</form>
	<br>
</div>
</body>
</html>