<html>
<head>
	<title>Deposit Successfully</title>
	<link rel="stylesheet" href="/static/css/login.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="all">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<!--logo开始-->
<div class="logo"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> ATM</div>
<!--logo结束-->
<br>
<br>
<div class="all container">
		<p class="login">
		存款成功！
	</p>
	<br>
<p class="result">
	人民币余额 : {{yuan_balance}}
</p>
<p class="result">美元余额 : {{dollar_balance}}
	</p>
	<p class="result">
		港币余额 : {{hk_balance}}
	</p>
	<br>
	<br>
	<p>
		<a href="/">返回主页</a>
	</p>
</div>
</body>
</html>