<!DOCTYPE html>
<html>
<head>
    <title>
        E-cash Main Page
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/login.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="all">

</head>
<body>
<!--logo开始-->
<div class="logo"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> ATM</div>
<!--logo结束-->

<br>
<br>
<div class="all container">
<br>
    <p class="login">电子现金业务</p>
    <br>
<p>
    <a style="text-decoration: none" href="/ecashbalance/">
    余额
    </a>
</p>
<p>
    <a style="text-decoration: none" href="/ecashin/">
    存入电子现金
    </a>
</p>
<p>
    <a style="text-decoration: none" href="/ecashout/">
    取出电子现金
    </a>
</p>
    <br>
    <br>

<p>
    <a style="text-decoration: none" href="/">
        返回主页
    </a>
    </p>
</div>
</body>
</html>