<!DOCTYPE html>
<html>
<head>
    <title>
        E-cash Balance Page
    </title>
    <link rel="stylesheet" href="/static/css/login.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="all">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<!--logo开始-->
<div class="logo"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> ATM</div>
<!--logo结束-->
<br>
<br>
<div class="all container">
    <br>
    <p class="login">余额
    </p>
    <br>
    <p class="result">
        你的电子现金余额是 ：{{ecash}}
    </p>
    <br>
    <br>
    <p>
    	<a href="/ecashmainpage/">
    		返回上一页
    	</a>
    </p>
</div>
</body>
</html>